@{
    ViewBag.Title = "Our Vidoes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-sm">
    <div class="container-fluid">
        <h1>@ViewBag.Title</h1>
        <div class="row">
            <div class="col-sm-12">
                <section class="section-sm">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <ul id="filters" class="tags">
                                    <li class="active"><a href="#link" data-filter="*">Show All</a></li>
                                    <li><a href="#link" data-filter=".apples">apples</a></li>
                                    <li><a href="#link" data-filter=".kiwis">kiwis</a></li>
                                    <li><a href="#link" data-filter=".oranges">oranges</a></li>
                                </ul><!-- /#filters.tags -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                        <br class="spacer-lg">
                        <div class="row">
                            <div class="isotope-container">
                                <div class="col-md-3 isotope-item apples">
                                    <div class="widget">
                                        <div class="thumbnail">
                                            <div class="overlay-container">
                                                <iframe src="//fast.wistia.net/embed/iframe/aqd5w2vn62" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                                                <script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
                                            </div><!-- /.overlay-container -->
                                        </div><!-- /.thumbnail -->
                                        <h5 class="no-margin">Project Iteration</h5>
                                        <small>Item Preview</small>
                                    </div><!-- /.widget -->
                                </div><!-- /.col -->
                                <div class="col-md-3 isotope-item kiwis">
                                    <div class="widget">
                                        <div class="thumbnail">
                                            <div class="overlay-container">
                                                <iframe src="//fast.wistia.net/embed/iframe/aqd5w2vn62" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                                            </div><!-- /.overlay-container -->
                                        </div><!-- /.thumbnail -->
                                        <h5 class="no-margin">Project Iteration</h5>
                                        <small>Item Preview</small>
                                    </div><!-- /.widget -->
                                </div><!-- /.col -->
                                <div class="col-md-3 isotope-item oranges">
                                    <div class="widget">
                                        <div class="thumbnail">
                                            <div class="overlay-container">
                                                <iframe src="//fast.wistia.net/embed/iframe/aqd5w2vn62" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                                            </div><!-- /.overlay-container -->
                                        </div><!-- /.thumbnail -->
                                        <h5 class="no-margin">Project Iteration</h5>
                                        <small>Item Preview</small>
                                    </div><!-- /.widget -->
                                </div><!-- /.col -->
                                <div class="col-md-3 isotope-item oranges">
                                    <div class="widget">
                                        <div class="thumbnail">
                                            <div class="overlay-container">
                                                <iframe src="//fast.wistia.net/embed/iframe/aqd5w2vn62" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                                            </div><!-- /.overlay-container -->
                                        </div><!-- /.thumbnail -->
                                        <h5 class="no-margin">Project Iteration</h5>
                                        <small>Item Preview</small>
                                    </div><!-- /.widget -->
                                </div><!-- /.col -->
                                <div class="col-md-3 isotope-item apples">
                                    <div class="widget">
                                        <div class="thumbnail">
                                            <div class="overlay-container">
                                                <iframe src="//fast.wistia.net/embed/iframe/aqd5w2vn62" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                                            </div><!-- /.overlay-container -->
                                        </div><!-- /.thumbnail -->
                                        <h5 class="no-margin">Project Iteration</h5>
                                        <small>Item Preview</small>
                                    </div><!-- /.widget -->
                                </div><!-- /.col -->
                                <div class="col-md-3 isotope-item kiwis">
                                    <div class="widget">
                                        <div class="thumbnail">
                                            <div class="overlay-container">
                                                <iframe src="//fast.wistia.net/embed/iframe/aqd5w2vn62" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                                            </div><!-- /.overlay-container -->
                                        </div><!-- /.thumbnail -->
                                        <h5 class="no-margin">Project Iteration</h5>
                                        <small>Item Preview</small>
                                    </div><!-- /.widget -->
                                </div><!-- /.col -->
                                <div class="col-md-3 isotope-item oranges">
                                    <div class="widget">
                                        <div class="thumbnail">
                                            <div class="overlay-container">
                                                <iframe src="//fast.wistia.net/embed/iframe/aqd5w2vn62" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                                            </div><!-- /.overlay-container -->
                                        </div><!-- /.thumbnail -->
                                        <h5 class="no-margin">Project Iteration</h5>
                                        <small>Item Preview</small>
                                    </div><!-- /.widget -->
                                </div><!-- /.col -->
                                <div class="col-md-3 isotope-item oranges">
                                    <div class="widget">
                                        <div class="thumbnail">
                                            <div class="overlay-container">
                                                <iframe src="//fast.wistia.net/embed/iframe/aqd5w2vn62" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                                            </div><!-- /.overlay-container -->
                                        </div><!-- /.thumbnail -->
                                        <h5 class="no-margin">Project Iteration</h5>
                                        <small>Item Preview</small>
                                    </div><!-- /.widget -->
                                </div><!-- /.col -->
                            </div><!-- /.isotope-container -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </section>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

