@model ForgotPasswordModel
@{
    Layout = "~/Views/Shared/_SecurityLayout.cshtml";
    ViewBag.Title = "Forgot Password";
}
@section scripts {
    <script src="~/Content/patterns/jquery/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/patterns/jquery/jquery.validate.min.js"></script>
    <script src="~/Content/patterns/jquery/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/Scripts/validate.js"></script>
}

<div class="panel-body">
    <h3 class="text-center b-color space-15 f-uppercase">Recover Password</h3>
    <p class="g-color space-15">Please, enter your email and press Confirm. You should soon recieve and email with instruction on how to recover your password</p>
    @if (!Model.IsValid)
    {
        <p class="text-center space-20 r-color">@Model.ErrorMessage</p>
    }
    @using (Html.BeginForm("ForgotPassword", "Security", FormMethod.Post, new { @class="validatable-form", role = "form" }))
    {
        <div class="form-group">
            <label for="Email">Email Address</label>
            @Html.PasswordFor(m => m.Email, new { @class = "form-control", placeholder = "Enter email", type = "email" })
            <span class="help-block">
                @Html.ValidationMessageFor(m => m.Email)
            </span>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Confirm</button>
    }
</div>